.body {
    background-color: black;

}


.beatspro-personalizados h4 {

    font-family: "Roboto Mono", monospace;
    color: aliceblue;
    font-style: normal;
    font-size: 75px;
    text-align: center;
    text-shadow: 2px 2px 4px gray;
    letter-spacing: 2px;
}

hr {
    border: 0;
    border-top: 2px solid #A91D3A;
    width: 50%;
    margin: 0 auto;

}


.beatspro-personalizados p {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    color: #faebd7;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.produccion {

    font-family: "Roboto", sans-serif;
    color: aliceblue;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: 2px solid #A91D3A;
    padding: 10px;
    margin: 0 auto;
    max-width: fit-content;
    margin-top: 30px;

}



.mix {
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: 2px solid #A91D3A;
    padding: 10px;
    margin: 0 auto;
    max-width: fit-content;
    margin-top: 30px;
}

.mastering {
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: 2px solid #A91D3A;
    padding: 10px;
    margin: 0 auto;
    max-width: fit-content;
    margin-top: 30px;
}

.resultados {
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: 2px solid #A91D3A;
    padding: 10px;
    margin: 0 auto;
    max-width: fit-content;
    margin-top: 30px;
}

.sellos {
    background-image: url(../media/estudiorojo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 80%;
    margin: auto;
    height: 600px;
    overflow: hidden;

    margin-top: 40px;
}

.sellos h4 {
    text-shadow: 2px 2px 4px black;
    margin-top: 5mm;
    margin-bottom: 5mm;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
}

.sellos img {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 65%;
    margin-top: -12px;
}



.produccion:hover {
    background-color: #A91D3A;
    width: 80%;
    padding: 20px;
}

.mix:hover {
    background-color: #A91D3A;
    width: 80%;
    padding: 20px;
}

.mastering:hover {
    background-color: #A91D3A;
    width: 80%;
    padding: 20px;
}

.resultados:hover {
    background-color: #A91D3A;
    width: 80%;
    padding: 20px;
}

.article :hover {
    font-size: medium;
}

.article .texto-produccion {
    display: none;
    font-size: medium;
}

.article :hover .texto-produccion {
    display: inline-block;
}


.article-mix :hover {
    font-size: medium;
}

.article-mix .texto-mix {
    display: none;
    font-size: medium;
}

.article-mix :hover .texto-mix {
    display: inline-block;
}

.article-mastering :hover {
    font-size: medium;
}

.article-mastering .texto-mastering {
    display: none;
    font-size: medium;
}

.article-mastering :hover .texto-mastering {
    display: inline-block;
}

.article-resultados :hover {
    font-size: medium;
}

.article-resultados .texto-resultados {
    display: none;
    font-size: medium;
}

.article-resultados :hover .texto-resultados {
    display: inline-block;
}



.presupuesto {
    background-color: #f8f8f8;
    /* Color de fondo */
    padding: 20px;
    /* Espaciado interno */
    text-align: center;
    /* Alineación del contenido */
    border: 1px solid #ddd;
    /* Borde */
    border-radius: 5px;
    /* Borde redondeado */
    max-width: 600px;
    /* Ancho máximo */
    margin: 0 auto;
    /* Centrar horizontalmente */
    margin-top: 40px;
}

.presupuesto h4 {
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 2px #A91D3A;
    font-size: 30px;
    /* Tamaño de fuente del título */
    margin-bottom: 10px;
    /* Espacio inferior */
}

.presupuesto p {
    font-size: 16px;
    /* Tamaño de fuente del párrafo */
    margin-bottom: 20px;
    /* Espacio inferior */
}

.presupuesto form {
    display: flex;
    /* Mostrar los campos del formulario en línea */
    flex-wrap: wrap;
    /* Permitir que los campos del formulario se envuelvan en dispositivos pequeños */
    justify-content: center;
    /* Centrar los elementos del formulario */
}

.presupuesto input[type="text"],
.presupuesto input[type="email"] {
    width: 100%;
    /* Ancho completo */
    margin-bottom: 10px;
    /* Espacio inferior */
    padding: 10px;
    /* Espaciado interno */
    border: 1px solid #ddd;
    /* Borde */
    border-radius: 5px;
    /* Borde redondeado */
    box-sizing: border-box;
    /* Tamaño de caja incluyendo borde y relleno */
}









.footer {
    background-image: url(../media/consola\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    margin-top: 40px;
}

.footer p {

    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 2px #A91D3A;
    font-size: 30px;

    margin: 0;
    padding: 10px 0;
}

.footer ul {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding: 0;

}

.footer img {

    width: 30px;
    height: 30px;

}