*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h1{
    font-size: 1.5em;
}
h2 {
    font-size: 1.4em;
}
p {
    font-size: 1em;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-img {
    height: 200px;
    padding: 10px;
    margin
}

.logo-nombre a {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 10px;
}


header .logo {
display: flex;
align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 22px;
}

nav li {
    display: inline-flex;
    justify-content: space-between;
    padding-right: 15px;
}
/* aca estoy */
.login-boton {
    margin-right: 10px;
    font-size: 20px;
    color: #ffff;
}

.registrar-boton {
    margin-right: 80px;
    font-size: 20px;
}

.apartados a {
    color: #ffff;
}


.register-boton {
    color: #ffff;
}


.registrar-boton a:hover {
    background-color: #A91D3A ;
    transition: background-color 0.5s ease;
}

.apartados a:hover {
    color: #A91D3A;
    transition: color 0.5s ease;
}

.logo .logo-nombre a {
    color: aliceblue;
}

.logo .logo-nombre a:hover {
    color: #A91D3A;
    transition: color 0.5s ease;
}
