* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
}


h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-img {
    height: 200px;
    padding: 10px;
}

.logo-nombre a {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 10px;
}

header .logo {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 22px;
}

nav li {
    display: inline-flex;
    justify-content: space-between;
    padding-right: 15px;
}

/* Header nav regristro */
.login-boton {
    margin-right: 10px;
    font-size: 20px;
    color: #ffff;
    padding: 5px 10px 5px 10px;
}

.registrar-boton {
    margin-right: 80px;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}

.apartados a {
    color: #ffff;
}


.register-boton {
    color: #ffff;
    padding: 5px;
}


.registrar-boton a:hover {
    background-color: #A91D3A;
    transition: background-color 0.5s ease;
}

.apartados a:hover {
    color: #A91D3A;
    transition: color 0.2s ease;
}

.logo .logo-nombre a {
    color: aliceblue;
}

.logo .logo-nombre a:hover {
    color: #A91D3A;
    transition: color 0.2s ease;
}

.boton-registro {
    background-color: #A91D3A;
}

.boton-registro:hover {
    background-color: #2b2a2a;
    transition: background-color 0.5s ease;
}

/* Footer */

footer {
    background-image: url(../media/consola\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

footer p {
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 2px #A91D3A;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
}

footer ul {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding: 0;


}

footer img {

    width: 30px;
    height: 30px;


}

footer .direccion,
footer .email,
footer .telefonos,
footer .redes,
footer .derechos {
    margin-bottom: 20px;
}

footer div {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
    text-align: start;
    margin: 0 65px 0 65px;
    height: 65px;
}

.telefonos {
    margin: 10px;
    height: 100px;
}