.seccion-banner {
  background-image: url("../media/concierto3.jpg");
  /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  /* Activar flexbox */
  align-items: center;
  /* Alinear verticalmente */
  justify-content: center;
  /* Alinear horizontalmente */
}

.contenedor-texto-ritmo {
  display: flex;
  /* Activar flexbox para el contenedor de texto */
  flex-direction: column;
  /* Ordenar elementos en columna */
  align-items: center;
  /* Alinear horizontalmente */
  justify-content: center;
  /* Alinear verticalmente */
}

.contenedor-texto-ritmo h1,
.contenedor-texto-ritmo p,
.contenedor-texto-ritmo button {
  flex: 1;
  /* Permitir que los elementos crezcan */
  text-align: center;
  /* Centrar el texto horizontalmente */
  font-family: "Roboto", sans-serif;
  font-size: 3.75em; 
  letter-spacing: 0.125em; 
  text-shadow: 0.125em 0.125em 0.1875em black; 
}


.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.recuadro {
  width: 90%;
  background-color: black;
  padding: 6.25em; 
  margin-bottom: 1.25em; 
  margin-top: 1.25em; 
  text-align: center;
  
  height: 15.625em; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.125em solid #A91D3A; 
 


}

.recuadro p {
  font-family: "Roboto", sans-serif;
  font-size: 1.75em; 
  color: aliceblue;
  text-shadow: 0.0625em 0.0625em 0.0625em #A91D3A; 
  margin: 0;
}

.logo {
  margin-left: 1.25em; 
  
}

.logo img {
  width: 9.375em; 
  height: auto;
  
}

article {
  width: 45%;
  
  margin-bottom: 1.25em; 
}

article img {
  width: 100%;
  height: auto;
}

article p {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.25em; 
  font-size: 2.375em; 
  color: aliceblue;
  text-shadow: 0.0625em 0.0625em 0.125em #A91D3A; 
  margin-top: 0.625em; 
  font-weight: bold;
  text-align: center;
}


.youtube {
  background-image: url(../media/estudiorojo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5.625em; 
  margin-bottom: 0.625em; 
  margin-top: 0.625em; 
  display: flex;
}

.texto-container {
  flex: 1;
  
  padding-right: 1.25em; 
 
}

.texto-container h2 {
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  text-shadow: 0.1125em 0.1125em 0px black; 
  font-size: 2.5em; 
  margin-bottom: 0.625em; 
}

.texto-container p {
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  text-shadow: 0.0425em 0.0425em 0.025em #A91D3A; 
  font-size: 1.75em; 
  margin-bottom: 0.625em; 
}

iframe {
  flex: 1;
  /* El iframe ocupa todo el espacio disponible */
  max-width: 50%;
  /* Ajustar el tamaño máximo del iframe */
  border: none;
  /* Esto reemplaza frameborder="0" */
}



.mapa {
  background-color: black;
  padding: 1.25em; 
  margin-bottom: 0.625em; 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.mapa h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.75em; 
  text-shadow: 0.025em 0.025em 0.125em #A91D3A; 
  color: aliceblue;
  margin-bottom: 0.625em; 
  margin-right: 1.875em; 
 
}

.mapa iframe {
  width: 25em; 
  height: 15.625em; 
  border: 0.125em solid #A91D3A; 
}

/* .seccion-grabando {
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    background-color: #333; 
    padding: 50px; 
    text-align: center; 
}

.foto-grabando{
    width: 200px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.foto-grabando img {
    width: 400px;
    height: auto; 
  } */

.contenedor-texto-ritmo {
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.625em; 
}

p {
  font-size: 1em;
  margin-bottom: 1.25em; 
}

a {
  text-decoration: none;
}

.contenedor-texto-ritmo .boton-registro {
  background-color: #A91D3A;
  color: #fff;
}

.contenedor-texto-ritmo .boton-registro:hover {
  background-color: #2b2a2a;
  transition: background-color 0.5s ease;
}


.boton-registro {
  background-color: #FF0000;
  color: #fff;
  padding: 0.625em 1.25em; 
  border: none;
  cursor: pointer;
}

.boton {
  background-color: #A91D3A;
  color: white;
  border: none;
  padding: 0.625em 1.25em; 
  border-radius: 0.3125em; 
  cursor: pointer;
  font-size: 1em; 
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  margin-bottom: 1.875em; 
}

.boton:hover {
  background-color: #88172E;
}


